
.Container {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
}
.Container-main {
  flex: 1;
  overflow: hidden;
}

.Header {
  height: 10%;
}

.Firstname {
  font-family:"Lato Hairline", sans-serif;
  position: relative;
  top: 5vh;
  left: 20vh;
}

hr {
  position: relative;
  bottom: 40px;
  border-bottom: 0.1px solid grey;
  width: 50%;
  opacity: 0.2;
}

.LinkBar {
  display: flex;
  justify-content: flex-end;

  padding-left: 0;
  list-style: none;

  margin-top: 1em;
  margin-right: -12px;
}

.LinkBar-link {
  margin: 0 1em;
}

#about {
  position: relative;
  top:20px;

  font-family:"Lato Hairline", sans-serif;
  text-decoration: none;
  color: black;
}

#contact {
  position: relative;
  top:20px;

  font-family:"Lato Hairline", sans-serif;
  text-decoration: none;
  color: black;

}

#Title {
  position: relative;
  font-family: "lato light", sans-serif;
  top: 2%;
  Left: 7%;
  font-size: 30px;
}

.Main-contact {
  position: relative;
  left: 45px;
  font-family:"lato Hairline", sans-serif;
  font-size: 90%
}

.CV {
  position: relative;
  text-decoration: none;
  color: black;
  top: 2vh;
  left: 30;
  font-family: "Lato Hairline", sans-serif;
  font-size: 75%;


}
@media (min-width: 768px) {

  .Firstname {
    font-family:"Lato Hairline", sans-serif;
    position: relative;
    top: 0;
    left: 9vh
  }

  hr {
    position: relative;
    top: 1px;
    border-bottom: 0.1px solid grey;
    width: 86%;
    opacity: 0.2;
  }

  .LinkBar {
    font-family: "Lato Hairline", sans-serif;
    display: flex;
    justify-content: flex-end;

    padding-left: 0;
    list-style: none;

    margin-top: -1em;
    margin-right: 75px;
  }

  #about {
    position: relative;
    top:45px;

    font-family:"Lato Hairline", sans-serif;
    text-decoration: none;
    color: black;
  }

  #contact {
    position: relative;
    top:45px;

    font-family:"Lato Hairline", sans-serif;
    text-decoration: none;
    color: black;
  }

  #Title {
    position: relative;
    font-family: "lato light", sans-serif;
    top: 5%;
    Left: 7%;
    font-size: 70px;
  }


  .Main-contact {
    position: relative;
    left: 90px;
    font-family:"lato Hairline", sans-serif;
    font-size: 300%
  }

  .CV {
    position: relative;
    text-decoration: none;
    color: black;
    top: 5vh;
    left: 80%;
    font-family: "Lato Hairline", sans-serif;
    font-size: 150%;


  }
