.Container {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
}
.Container-main {
  flex: 1;
  overflow: hidden;
}
.Header {
  border-bottom: 1px solid black;
}

.firstname {
  position: relative;
  top: 30%;
}

.LinkBar {
  display: flex;
  justify-content: flex-end;

  padding-left: 0;
  list-style: none;

  margin-top: -1.5em;
  margin-right: -15px;
}
.LinkBar-link {
  margin: 0 1em;
}

._1 {
  grid-area: _1;
}
._2 {
  grid-area: _2;
}
._3 {
  grid-area: _3;
}
.Main-content {
  display: grid;
  grid-template-areas:
    '_1'
    '_2'
    '_3';
  grid-row-gap: 1em;

  margin: 0;
  height: 100%;

  padding-left: 0;
  list-style: none;
}
.Main-item {
  background-color: gray;
  opacity: 0.5;
}

@media (min-width: 768px) {
  ._1 {
    grid-area: _1;

    position: relative;
    bottom: -60%;
    right: -20%;
    z-index: 1;
  }
  ._2 {
    grid-area: _2;

    position: relative;
    z-index: 2;
  }
  ._3 {
    grid-area: _3;

    position: relative;
    top: -60%;
    left: -20%;
    z-index: 3;
  }
  .Main-content {
    display: grid;
    grid-template-areas:
      '_1  .  .'
      ' . _2  .'
      ' .  . _3';
  }
}
